<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body layout:fragment="mainContent">
    <div th:if="${message}" class="d-flex justify-content-center align-items-center">
        <h1 th:text="${message}">Message</h1>
    </div>

<div th:if="${exception}">
    <h2 th:text="${exception}">Exception</h2>
</div>
</body>
</html>