
<!DOCTYPE html>
<html
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
</head>
<body layout:fragment="mainContent">

<div class="container">
    <div class="row justify-content-center my-4 py-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Forgot Password
                </div>
                <div class="card-body">
                    <form th:action="@{/forgot-password}" method="post">
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email address" required>
                        </div>
                        <button type="submit" class="btn btn-primary my-2 py-2">Submit</button>
                    </form>
                    <div th:if="${error}" class="alert alert-danger mt-3">
                        <p th:text="${error}"></p>
                    </div>
                    <div th:if="${message}" class="alert alert-success mt-3">
                        <p th:text="${message}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>