<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
          crossorigin="anonymous">

</head>
<body layout:fragment="mainContent">

<div th:if="${error}">
    <p th:text="${error}" class="text-danger"></p>
</div>
    <div class="container ms-auto">
        <div class="row">
            <div class="col-md-4 col-sm-4" th:each="product : ${products}">
                <!-- card -->
                <div class="card border-light my-2" style="width:300px;">

                    <div class="badge badge-sm badge-danger position-absolute text-white" th:text="${product.name}" style="top:0.5rem; left:0.5rem">
                    </div>

                    <div class="position-absolute" style="top:0.5rem; right:0.5rem">
                        <i class="far fa-heart" style="font-size:20px; cursor:pointer;"></i>
                    </div>

                    <a th:href="@{/products/{id}(id=${product.id})}" style="cursor:pointer;">
                        <img th:src="@{/uploads/products/{fileName}(fileName=${product.imageUrlShow})}"
                             alt="product-image" class="card-img-top" style="width:100%; height:100%">
                    </a>
                    <div class="card-footer border-top border-light p-4">
                        <a href="#" class="h5" th:text="${product.name}">Apple Watch Series 3</a>
                        <h6 class="font-weight-light text-gray mt-2" th:text="${product.description}">
                            Space Gray Aluminum Case with Black Sport Band</h6>
                        <div class="d-flex mt-3">
                            <i class="star fas fa-star text-warning mr-1"></i>
                            <i class="star fas fa-star text-warning mr-1"></i>
                            <i class="star fas fa-star text-warning mr-1"></i>
                            <i class="star fas fa-star text-warning mr-1"></i>
                            <i class="star fas fa-star text-warning"></i>
                            <span class="badge badge-pill badge-gray ml-2">4.7</span>
                        </div>
                        <div class="d-flex justify-content-between align-items-center mt-3">
                            <span class="h5 mb-0 text-gray" th:text="${product.price}">$299.00</span>
                            <a class="btn btn-xs btn-primary" href="#">
                                <span class="fas fa-cart-plus mr-2"></span> Add to cart
                            </a>
                        </div>
                    </div>
                </div>
                <!-- card -->

            </div>
        </div>

        <div class="d-flex justify-content-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item" th:if="${currentPage > 0}">
                        <a class="page-link" th:href="@{/home(page=${currentPage - 1})}">Previous</a>
                    </li>
                    <li class="page-item" th:each="i : ${#numbers.sequence(0,totalPages - 1)}">
                        <a class="page-link" th:href="@{/home(page=${i})}"
                           th:text="${i + 1}"
                           th:classappend="${i == currentPage} ? 'active' : ''"></a>
                    </li>
                    <li class="page-item" th:if="${currentPage < totalPages - 1}">
                        <a class="page-link" th:href="@{/home(page=${currentPage + 1})}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>


</body>
</html>