<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body layout:fragment="mainContent">

<div class="container-fluid">

    <h1 th:if="${errorMsg}">
        <p class="alert alert-danger" th:text="${errorMsg}"></p>
    </h1>

    <div>
        <a th:href="@{/products/new}" class="btn btn-primary my-3">Add Product</a>
    </div>
    <table class="table table-hover" th:if="${products != null}">
        <thead>
        <tr>
            <th>Id</th>
            <th>Product Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Image</th>
            <th>Brand</th>
            <th>Category</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <!-- th:if="${#strings.contains(searchUser.username.toLowerCase(), keyword.toLowerCase())}" -->
        <tr th:each="product : ${products}">
            <td th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.description}"></td>
            <td>
                <!-- Resim gösterme -->
                <img th:src="@{/uploads/products/{fileName}(fileName=${product.imageUrlShow})}"
                     alt="Profile Picture" class="img-thumbnail" style="max-width: 150px; with:106px" />
            </td>
            <td th:text="${product.brand}"></td>
            <td th:text="${product.category.name}">
            </td>
            <td>
                <a class="btn btn-sm btn-danger" th:href="@{/products/delete/{id}(id=${product.id})}">Delete</a>

                <a class="btn btn-sm btn-warning"
                   th:href="@{/products/edit/{id}(id=${product.id})}">Edit</a>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item" th:if="${currentPage > 0}">
                    <a class="page-link" th:href="@{/products(page=${currentPage - 1})}">Previous</a>
                </li>
                <li class="page-item" th:each="i : ${#numbers.sequence(0,totalPages - 1)}">
                    <a class="page-link" th:href="@{/products(page=${i})}"
                       th:text="${i + 1}"
                       th:classappend="${i == currentPage} ? 'active' : ''"></a>
                </li>
                <li class="page-item" th:if="${currentPage < totalPages - 1}">
                    <a class="page-link" th:href="@{/products(page=${currentPage + 1})}">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>


</body>
</html>