<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body layout:fragment="mainContent">

<!-- Product section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5" th:if="${product != null}">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0"
                                       th:src="@{/uploads/products/{fileName}(fileName=${product.imageUrlShow})}" width="100%" height="100%" alt="..." /></div>
            <div class="col-md-6">
                <div class="small badge badge-sm badge-danger" th:text="${product.brand}"></div>
                <h1 class="display-5 fw-bolder" th:text="${product.name}"></h1>
                <small th:text="${product.category.name}"></small>
                <div class="fs-5 mb-5">
                    <span class="text-decoration-line-through" th:text="${product.price}">$45.00</span>
                    <span>$40.00</span>
                </div>
                <p class="lead" th:text="${product.description}"></p>
                <div class="d-flex">
                    <input class="form-control text-center me-3" id="inputQuantity" type="number" value="1" style="max-width: 3rem" />
                    <button class="btn btn-outline-dark flex-shrink-0" type="button">
                        <i class="bi-cart-fill me-1"></i>
                        Add to cart
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>


</body>
</html>