<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body layout:fragment="mainContent">

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Email</th>
                <th>Role</th>
                <th>Image</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        <!-- th:if="${#strings.contains(searchUser.username.toLowerCase(), keyword.toLowerCase())}" -->
            <tr th:each="user : ${searchUser != null ? searchUser : userPage.content}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.username}"></td>
                <th th:text="${user.email}"></th>
                <th th:each="role : ${user.roles}">
                    <h3 class="text-danger" th:text="${role.roleName}"></h3>
                </th>
                <td>
                    <!-- Resim gösterme -->
                    <img th:src="@{/uploads/{fileName}(fileName=${user.profilePicture})}"
                         alt="Profile Picture" class="img-thumbnail" style="max-width: 150px; with:106px" />
                </td>
                <td>
                    <a class="btn btn-sm btn-danger" th:href="@{/delete/{id}(id=${user.id})}">Delete</a>

                    <a class="btn btn-sm btn-warning" th:href="@{/edit/{id}(id=${user.id})}">Edit</a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="justify-content-center btn-toolbar">
        <div class="btn-group">
                <a class="btn btn-primary" th:if="${userPage.hasPrevious()}" th:href="@{/users(page=${userPage.number - 1}, size=${userPage.size}, keyword=${keyword})}">Previous</a>
                <hr/>

                <button class="btn btn-primary" th:text="${userPage.number + 1}"></button>
                <hr />

                <a class="btn btn-primary" th:if="${userPage.hasNext()}" th:href="@{/users(page=${userPage.number + 1}, size=${userPage.size}, keyword=${keyword})}">Next</a>

        </div>
    </div>
</body>
</html>